@model Domain.Models.Poll

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Poll Details</h1>

<div class="card mt-4">
    <div class="card-header">
        <h4>@Model.Title</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5>Option 1</h5>
                <dl class="row">
                    <dt class="col-sm-6">Text: </dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Option1Text)</dd>

                    <dt class="col-sm-6">Count: </dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Option1VotesCount)</dd>
                </dl>
                <form asp-action="Vote" method="post">
                    <input type="hidden" name="pollId" value="@Model.Id" />
                    <input type="hidden" name="option" value="1" />
                    <button type="submit" class="btn btn-success">Vote</button>
                </form>
            </div>
            <div class="col-md-4">
                <h5>Option 2</h5>
                <dl class="row">
                    <dt class="col-sm-6">Text: </dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Option2Text)</dd>

                    <dt class="col-sm-6">Count: </dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Option2VotesCount)</dd>
                </dl>
                <form asp-action="Vote" method="post">
                    <input type="hidden" name="pollId" value="@Model.Id" />
                    <input type="hidden" name="option" value="2" />
                    <button type="submit" class="btn btn-success">Vote</button>
                </form>
            </div>
            <div class="col-md-4">
                <h5>Option 3</h5>
                <dl class="row">
                    <dt class="col-sm-6">Text: </dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Option3Text)</dd>

                    <dt class="col-sm-6">Count: </dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Option3VotesCount)</dd>
                </dl>
                <form asp-action="Vote" method="post">
                    <input type="hidden" name="pollId" value="@Model.Id" />
                    <input type="hidden" name="option" value="3" />
                    <button type="submit" class="btn btn-success">Vote</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-4">Date Created: </dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DateCreated)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
