@model IEnumerable<Domain.Models.Poll>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Polls</h1>

<div class="text-end mb-3">
    <a asp-action="Create" class="btn btn-success">Create New Poll</a>
</div>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@item.Option1Text</td>
                <td>@item.Option2Text</td>
                <td>@item.Option3Text</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
